/* Copyright © Mladen Plavsic https://github.com/mladenplavsic/css-ripple-effect */

.ripple {
/*
  padding-right: 0 !important;
  padding-left: 0 !important;
*/
overflow: hidden;

}

.ripple::after {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(2, 1);
  opacity: 0;

}

.ripple-1::after {
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  transition: transform 0.5s, opacity 2s;
}

.ripple-2::after {
  width: 400%;
  height: 500%;
  top: -200%;
  left: -150%;
  transition: transform 2s, opacity 2s;
}

.ripple:active::after {
  transform: scale(0, 0);
  opacity: .75;
  transition: 0s;
}